body {
    display: flex;
    width: 100%;
    font-family: 'Ubuntu Mono', monospace;


}

.left_menu {
    /* display: flex; */
    width: 18vw;
    text-transform: capitalize;
    padding: 2px;
    /* border-right: 2px dotted gray; */

}

.right_menu {
    width: 78vw;
    padding: 5px;
}

.left_menu,
.right_menu {
    margin: 0 1vw 0 1vw;

}

.menu_devider {
    width: .2em;
    /* height: 80vh; */
    margin: 10vh 0 0 0;
    background-color: white;
    /* transform: translateY(-50%);  */
    border-radius: 100%;
}

.logo>img {
    margin: 10px 50% 10px 50%;
    transform: translateX(-50%);
    border: 2px dashed white;
    border-radius: 100%;
}

.profile_text {
    margin: 10px 0 10px 0;
}

.profile_text>p {
    margin: 0 0 0 10%;
}

.profile_text ul {
    display: flex;
}

.profile_text ul li {
    margin: 5px 10%;
    font-size: 16px;
    transition: transform 0.2s;

}

.profile_text ul li a {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
}

.profile_text ul li a:hover {
    /* box-shadow: [horizontal-offset] [vertical-offset] [blur-radius] [spread-radius] [color] [inset]; */
    box-shadow: 2px 5px 5px 0px var(--dark-accent-color1);
}

.profile_text ul li:hover {
    /* background-color: var(--dark-background-color); */
    transform: scale(1.1);
}

.nav_devider {
    width: 15vw;
    margin: 0 50% 5% 50%;
    /* place 5% extra margin bottom for better placement of the switches */
    transform: translateX(-50%);
    border-radius: 100%;

}

.nav_bar>ul {
    display: flex;
    flex-direction: column;
}

.nav_bar>ul li {
    margin: 5px 10%;
    transition: transform 0.2s;
    width: fit-content;
}

.nav_bar>ul li a {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    display: block;
}
.nav_bar>ul li:hover{
    transform: scale(1.1);
}
.nav_bar>ul li a:hover{
    box-shadow: 2px 5px 5px 0px var(--dark-accent-color1);
}
/* Right MEnu Staring from Hear */
.top_brand {
    background-color: green;
    display: flex;
    width: 100%;
    /* border: 2px solid red; */
    height: 100px;
    border-radius: 10px;
    /* justify-items: center; */
    justify-content: space-evenly;
    align-items: center;
    margin: 0 0 2vh 0;
}

.tag {
    font-size: 36px;
    /* border: 2px solid white; */
    display: inline-block;
    margin: 0 10px;
}

.power i {
    opacity: 50%;
}

main {
    display: flex;
    justify-content: space-evenly;
}

.input_fields {
    /* border: 2px solid white; */
    height: 70vh;
    width: 45%;

}
input::placeholder{
    text-transform: capitalize;
}
.for_upi{
    display: block;
}
.button_hr{
    border-radius: 100%;
    height: 2px;
    color: white;
    width: 95%;
    border: 2px solid white;
}

.input_fields ul {
    display: flex;
}

.input_fields ul li {
    cursor: pointer;
    padding: 1% 2%;
    border: 2px dashed gray;
    margin: 2%;
}
.input_fields ul li a{
    justify-content: center;
    text-align: center;
    display: block;
}
.input_from {
    text-align: left;
    padding: 1vh 2vw;
}

.input_from input {
    background-color: transparent;
    height: 25px;
    border: 2px dashed gray;
    margin: 10px;
    color: white;
    transition: border 1s;
    width: 50%;
    padding: 0 10px;

}

.input_from input:focus {
    border: 2px dashed green;
}
.input_from input:active{
    border: 2px dashed red;

}
button{
    width: 8vw;
    height: 30px;
    border: 1px solid white;
    color: whitesmoke;
    background-color: green;
    border-radius: 5px;
}

/* For Free Text */
.for_text,.for_pdf,.for_url,.for_wifi{
    text-align: left;
    display: none;
}
.for_text label{
    padding: 10px;

}
select{
    text-transform: uppercase;
    width: 80px;
    border-radius: 2px;
    border: 2px dashed gray;
    color: green;
    height: 30px;
    background-color: transparent;
    font-weight: bold;
    margin: 10px 5px;
}
option{
    color: red;
    background: transparent !important;
    font-weight: bold;
    background: transparent;
}
.output_hr{
    border: 2px solid white;
    border-radius: 100%;
    height: 80vh;
}
.output_fields {
    /* border: 2px solid white; */
    height: 70vh;
    width: 54%;
    padding: 10px 20px;
}

.status{
    justify-content: space-evenly;
    width: 100%;
    display: flex;

}
.qr_img{
    width: 48%;
}
.qr_img>img{
    margin: 2% 50%;
    transform: translate(-50%);
    width: 15vw;
    height: 25vh;
    border: 2px solid gray;
    border-radius: 5px;
}
.download{
    margin: 2% 50%;
    transform: translate(-50%);
}

@media screen and (min-width: 950px) {
    .download{
        margin: 2% 50%;
        transform: translate(-50%);
        width: 15vw;
    }
}

@media screen and (min-width: 700px) and (max-width: 949px) {
    .download{
        margin: 2% 50%;
        transform: translate(-50%);
        width: 15vw;
        height: 40px;
    }
}


.stat{
    padding: 5px;
    width: 50%;
    /* border: 2px solid yellow; */
}
.stat ul li{
    list-style-type: none;
}
