.light-theme .menu_devider {
    background-color: black;
    border: 2px solid black;

}

.light-theme .logo>img {
    border: 2px dashed green;
}

.light-theme .profile_text ul li a {
    border: 1px solid black;
}

.light-theme .nav_bar>ul li a {
    border: 1px solid black;
}

.light-theme .button_hr {
    color: black;
    border: 2px solid black;
}
.light-theme .output_hr{
    color: black;
    border: 2px solid black;
}
.light-theme button {
    border: 1px solid black;
}

.light-theme .advertisement {
    border: 2px solid black;
}

/* notice and layout popup style */
.light-theme .help-content{
    background-color: var(--light-background-color);

}
.light-theme .about-content{
    background-color: var(--light-background-color);
}
.light-theme .pricing-content{
    background-color: var(--light-background-color);
}
.light-theme .tnc-content{
    background-color: var(--light-background-color);
}
.light-theme .input_from input{
    color: black;
}
input{
    color: black;
}