/* Common Layout for all POP-UP */
.help-layout,.about-layout,.pricing-layout{
    display: none;
    position: fixed;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1;
    text-align: center;
    width: 100vw;
    height: 100vh;
}
.help-content,.about-content,.pricing-content{
    text-align: left;
    background-color: var(--dark-background-color);
    height: 80vh;
    width: 80vw;
    margin: 10vh 50%;
    transform: translate(-50%);
    border: 2px dashed green;
    padding: 20px;
    border-radius: 10px;
}
.help-button,.about-button,.pricing-button{
    margin: 5% 50%;
    transform: translate( -50%);
    padding: 0;
    text-align: center;
    bottom: 0;
}

.basic,.common,.advance{
    /* border: 2px dashed red; */
    width: 30%;
    height: 50vh;
    margin: 10px 0;
    /* padding: 2px 20px; */
}
/* Individual Layout Start from hear */