# Prevent Users From Direct Access of the Directories 
Options -Indexes

# Redirect users trying to access directories to index.php
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*)$ /404.html [L]
